.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333333;
  width: 60vw;
  min-width: 400px;
  max-width: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  display: flex;
  padding: 1em;
}

.column {
  flex-direction: column;
}

.location {
  background-color: rgb(255, 255, 245);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.city {
  font-size: 1.5em;
  font-weight: 700;
}

.state {
  font-weight: 500;
  color: #666666;
  margin-top: 0.2em;
}

.face-aqi {
  height: 4em;
  align-self: center;
}

.aqi-value {
  font-size: 2.5em;
  font-weight: 400;
}

.aqi-title {
  font-size: 0.8em;
  font-weight: 500;
}

.condition {
  font-weight: 600;
  font-size: 1.2em;
}

.weather {
  background-color: honeydew;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.weather-icon {
  height: 3em;
}

.wind-direction {
  height: 1.5em;
  filter: invert(0.5) sepia(1) saturate(1) hue-rotate(108deg);
}

.humidity-icon {
  height: 1.5em;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(157deg);
}

.temperature-value,
.wind-speed,
.humidity-value {
  margin-left: 0.5em;
  font-weight: 500;
  font-size: 1.1em;
}

.aqi-green {
  color: #607631;
  background-color: #a8e05f;
}

.aqi-yellow {
  color: #8c6c1d;
  background-color: #ffdf58;
}

.aqi-orange {
  color: #974a20;
  background: #ff9b57;
}

.aqi-red {
  color: #942431;
  background: #fe6a69;
}

.aqi-purple {
  color: #543b63;
  background: #a97abc;
}

.aqi-maroon {
  color: #573344;
  background: #a87383;
}
