.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60vw;
  min-width: 400px;
  max-width: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.column {
  flex-direction: column;
}

.location {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pollution {
  background-color: greenyellow;
}

.weather {
  background-color: honeydew;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.weather-icon {
  height: 3em;
}

.wind-direction {
  height: 1.5em;
  filter: invert(0.5) sepia(1) saturate(1) hue-rotate(108deg);
}

.humidity-icon {
  height: 1.5em;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(157deg);
}
